<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/app.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Stocks</title>
  </head>
  <body>
   
    <h2><%- include('navbar.ejs') %></h2>
    <%- body %>
    <footer>Socks &copy; 2023</footer>
  </body>
</html>
