<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stocks</title>
  </head>
  <body>
    <h1>STOCKS DATA</h1>
    <h2><%- include('navbar.ejs') %></h2>
    <%- body %>
    <footer>Socks &copy; 2023</footer>
  </body>
</html>
