<!-- <h1>STOCKS DATA</h1> -->
<div>

  <ul id="nav-menues">
    <li><a href="/">Home</a></li>
    <li><a href="/Stocks">Stocks</a></li>
    <li><a href="/Stocks/new">Create Stocks</a></li>
    <li><a href="/About">About</a></li>
  </ul>

</div>
