<h1>New form</h1>
<form action="/stocks" method="POST">
    <label for="symbol">Symbol:</label>
    <input type="text" name="symbol" placeholder="Enter a symbol">

    <label for="Name">Name:</label>
    <input type="text" name="name" placeholder="Enter a Name">

    <label for="closingPrice">Closing Price: </label>
    <input type="text" name="closingPrice" placeholder="Enter a closing price">

    <label for="openingPrice">Opening Price:</label>
    <input type="text" name="openingPrice" placeholder="Enter an opening price">

    <label for="purchasePrice">Purchase Price:</label>
    <input type="text" name="purchasePrice" placeholder="Enter a purchase price">

    <label for="day">day:</label>
    <input type="text" name="day" placeholder="Enter a date">
    <br/>
    <input type="submit"  value="submit">
</form>