<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUMMY STOCKS DATA</title>
</head>
<body>
    <h1>DUMMY STOCKS DATA</h1>
    <p>SHOW</p>
</body>
</html>